extends layout.pug

include mixins/big-num.pug
include mixins/subtitle.pug
include mixins/progress.pug
include mixins/job.pug
include mixins/tool.pug


block content
    h2 404 - it's gone poop
    p oh shit dawg